<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display" rel="stylesheet">
  <script src="https://use.fontawesome.com/5e7fbc072a.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet"/>
  <title> {{page.title}} </title>

</head>
<body>

  <!--Header Section-->
  <header id="home">
    <img src="https://unsplash.com/search/sunset?photo=lojbVPmh2TY"/>
    <nav class="top">
      <a href="#home"></a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <img src="images/Logo_Full.jpg" class="logo"/>
    </nav>
      <h1>Never Leaving</h1>
      <h2 class="sub-head">A Guide to Luxury Travel</h2>
      <p class="byline"> Follow us as we explore the world</p>
    </div>
</header>

  <!-- End Of Header Section-->

{{content}}

<footer id="contact">
  <div>
    <h2>Contact</h2>
    <form method="POST" action="http://formspree.io/YOUREMAILHERE">
      <label for="name"> Your name </label>
      <input type="text" name="name" placeholder="Jane Doe">
      <label for="email"> Your email</label>
      <input type="email" name="email" placeholder="bob@place.com">
      <label for="message"> Your message </label>
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
  <div class="social-media">
    <a href="https://www.instagram.com/never_leaving_luxury/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/neverleavingluxury/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/never__leaving/"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
  </div>
</footer>
  </body> <!--CLOSING BODY TAG-->
</html> <!--END OF HTML DOCUMENT-->
